# Server Base URL
APP_BASE_URL=

# Database configuration
DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=

# ANTHROPIC API key
ANTHROPIC_API_KEY=

# External API keys
API_NINJA_API_KEY=
LiteAPI_API_KEY=

# JWT secret key
JWT_SECRET_KEY=

# Email
SUPPORT_EMAIL=
APP_PASSWORD=

# Google Maps Key
GOOGLE_MAPS_API_KEY=